<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Currenvy Exchanger</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="container-img">
            {{#each img}}
        <div class="img-content">
            {{currencycode}}
            {{rates}}
            <img class="img" src="img/{{img}}" alt="">
            </div> 
            {{/each}}
    </div>
    <a href="/">Home</a>
</body>
</html>